.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
  z-index: 1000;

  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 32px; // Espaciado horizontal amplio
  }

  .logo {
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--mat-sys-primary);
    text-decoration: none;
  }

  .nav-links {
    display: flex;

    a {
      position: relative;
      margin-left: 24px;
      font-weight: 500;
      color: var(--mat-sys-primary);
      text-decoration: none;
      transition: color 0.3s ease;
      cursor: pointer;

      &:hover {
        color: white;
      }

      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        background-color: var(--mat-sys-secondary);
        border-radius: 50px;
        z-index: -1;
        transition: width 0.3s ease, height 0.3s ease;
      }

      &:hover::before {
        width: 120%;
        height: 2em;
      }
    }
  }
}
